<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - project7thSem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/project7thSem.styles.css" asp-append-version="true" />
</head>
<body class="body">
    <header class="header fixed-top">
        <div class="row">
            <div class="container">
                <nav class="p-2">
                    <div class="row">
                        <div class="col-md-2 mt-3">
                            <a asp-controller="Home" asp-action="Index">
                                <img src="~/logo.jpg" width="150%"></img>
                            </a>
                            

                        </div>
                        <div class="col-md-4"></div>
                        <!-- Links -->
                        <div class="col-md-6 text-center text-right">
                            <div class="topnav">
                                @*<a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                <a asp-area="" asp-controller="Home" asp-action="Privacy">About</a>*@
                                <form class="d-flex">
                                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-outline-primary" type="submit">Search</button>
                                </form>
                            </div>
                        </div>
                </nav>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - project7thSem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

